.inputsContainer {
  display: flex;
  flex-direction: column;
  width: 75%;  
}

.input {
  border: none;
  border-bottom: 1px solid #C3E4EA;

}

.input:focus {
  outline: none;
  border-bottom: 1px solid #9013FE;
}

.input::placeholder {
  color: #77A4AC
}

.errorDiv {
  font-size: .625rem;
  font-family: inherit;
  color: red;
  height: 1rem;
  margin-bottom: .5rem;
}

.termsOfService,
a:link,
a:visited,
a:hover,
a:active  {
  padding-top: 1rem;
  font-size: .8rem;
  color: #22386F;
}
