.inputsContainer {
  display: flex;
  flex-direction: column;
  width: 75%;  
}

.input {
  border: none;
  border-bottom: 1px solid #C3E4EA;
  transition: all 0.5s ease;
}

.input:focus,
.input:hover,
.input:active {
  outline: none;
  border-bottom: 1px solid #9013FE;
}

.input::placeholder {
  color: #77A4AC
}

.errorDiv {
  font-size: .625rem;
  font-family: inherit;
  color: red;
  height: 1rem;
  margin-bottom: .5rem;
}

.termsOfService {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  font-size: .8rem;
  color: #22386F;
}

.checkText {
  padding: 0 .25rem 0 .5rem;
}

a:link,
a:visited,
a:hover,
a:active  {   
  color: #22386F;
}
