.container {
  margin-top: 3rem; 
}

.formContainer {
  /* Shape */
  max-width: 418px;
  margin: auto;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 13px;

  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Spacing */
  padding-top: 3rem;
}

.circleIcon {
  border: 2px solid #0B1153;
  height: 36px;
  width: 36px;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconImage {
  /* TODO: this normally would be moved to a cdn */
  background-image: url('./assets/messageIcon.svg');

  width: 19px;
  height: 16px; 
  object-fit: contain;
  background-repeat: no-repeat;
}

.headerText {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 29px;
  /* or 97% */
  color: #22386F;

  padding: 1rem 0 3rem 0;
}

.signupButton {
  font-size: 1.2rem;
  padding: 1.5rem;
  width: 100%;
  margin-top: 3rem;
  border-radius: 0 0 13px 13px;
  background: linear-gradient(180deg, #79D9F1 0%, #44B1DF 100%);
  border: none;
  color: white;
  transition: opacity 0.5s ease;
}

.signupButton:hover {
  opacity: .9;
}

/* Mobile and Small Tablet Styles */
@media only screen and (max-width: 600px) {
  .container {
    margin-top: unset;   /* Remove Top Margin*/
  }

  .formContainer {
    box-shadow: unset;   /* Remove Form Borders */
    border-radius: unset;
  }

  /* Move Button to Bottom */
  .signupButton {
    position: absolute;
    bottom: 0;
    border-radius: unset;
  }
}

